Source: eclipse-ide-java
Section: devel
Priority: optional
Maintainer: Marcel Michael Kapfer <marcelmichaelkapfer@yahoo.co.nz>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5


Package: eclipse-ide-java
Architecture: amd64
Depends: ${misc:Depends}, default-jdk | oracle-java7-installer | oracle-java8-installer
Description: Eclipse IDE Java
 A IDE for Java and C/C++, PHP as well
